*{
    margin:0px;
    padding:0px;            
}

/* This is nav-container */

.nav-container{
    display:flex;
    justify-content:space-around;
    height:60vh;
    border: 2px;
    align-items:center;
    background-color:rgb(241, 226, 228);
}
.flower{
    width:350px;
}
.title{
    font-size:50px;
    font-weight:bold;
}
.description{
    font-size:15px;
    margin-top:25px;
    margin-bottom:25px;
}
.btn{
    background-color:red;
    color:white;
    padding: 10px 20px;
    border-radius:10px;
    border:None;}

/* This is feature-container */

.avro{
    text-align:center;
    padding-top: 30px;}
.index{
     text-align:center;}
.item{
        font-size:15px;
        margin-top:25px;
        margin-bottom:25px;
        text-align: center;}
.photo{
        display: flex;
        justify-content:center;
        padding: 20px;
        height: 300px;
        gap:5px;} 

/* This is service-container section */

.service-container{
    display:flex;
    justify-content:space-around;
    height: 30vh;
    align-items:center;
    gap:5px;}

/* This is deal-container */

.deal-container{
    display:flex;
    justify-content:space-around;
    height: 50vh;
    align-items: center;
    background-color:rgb(241, 231, 233);}
.indigo{
    color:rgb(241, 12, 50);
}
.pngwing{
    width:200px;
}
.reader{
    font-size:50px;
    font-weight:bold;
}
.learner{
    font-size:15px;
    margin-top:25px;
    margin-bottom:25px;
}
.btn-primary{
    background-color:red;
    color:white;
    padding: 10px 20px;
    border-radius:10px;
    border:None;}

/*This is menus-container*/

.menus-container{
    display:flex;
    justify-content:space-around;
    height:60vh;
    border: 2px;
    align-items:center;
    background-color:white;
}
.read{
    text-align:center;
    margin-top:50px;
}

.text{
    font-size:15px;
    margin-top:25px;
    margin-bottom:25px;
    text-align: center;
}
.image{
    display: flex;
    justify-content:center;
    padding: 20px;
    height: 400px;
    gap:5px;}

/* This is layer-container section */

.layer-container{
    height:40vh;
    text-align:center;
    background-color:black;
    color:white;
    padding-top:40px;}
.rose{
    color:rgb(245, 11, 50);}
.market{
    margin-bottom: 10px;}
.reserved{
    margin-top: 10px;}








    
